# Biểu dịch C# (Build results)
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Thư mục cấu hình Visual Studio
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo

# Môi trường hệ điều hành
Thumbs.db
ehthumbs.db
.DS_Store

# ReSharper / JetBrains
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Cache và temporary files
*.cache
*.tmp
*.bak
*.swp
*~.nib
local.properties

# Local reports
Report/
Report

# Installer outputs and ZIP archives
Installer/Output/
*.zip

